@charset "ISO-8859-1";

@import "./global.css";

::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.container-dashboard-institution{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 160px 1fr;
    position:relative
}

.container-dashboard-institution header{
    background-color: var(--green-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-dashboard-institution header h1{
    max-width: 500px;
    font-weight: 700;
    font-size: 30px;
    color: var(--white);
}

.container-dashboard-institution header .user{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
}

.container-dashboard-institution header .user p{
   margin-right: 5px;
   color: var(--white);
}

.container-dashboard-institution header .user .profile{
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-color: #C4C4C4;
    position: relative;
}


.container-dashboard-institution header .user .list-options{
    display: none;
    position: absolute;
    bottom: -38px;
    right: 0;
    width: 100px;
    height: auto;
    background-color: var(--white);
}

.container-dashboard-institution header .user .list-options .item{
    display: flex;
    padding: 5px;
}

.container-dashboard-institution header .user .list-options .item img{
    width: 25px;
    height: 25px;
}

.container-dashboard-institution header .user .list-options .item a{
    color: rgba(0, 0, 0, 0.8);
    margin-left: 5px;
    text-decoration:none
}

.container-dashboard-institution main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* CARD*/
.container-dashboard-institution main .card-user{
    width: 500px;
    height: auto;
    border: 1px solid var(--green-primary);
    margin: 16px 0;
    border-radius: 7px;
    padding: 20px 20px 10px 20px;
    position: relative;
}

.container-dashboard-institution main .card-user header{
   background-color: var(--white);
   display: block;
}

.container-dashboard-institution main .card-user .avatar{
    display: flex;
    align-items: center;
}

.container-dashboard-institution main .card-user p{
    color: var(--green-primary);
    font-weight: 500;
    font-size: 20px;
}

.container-dashboard-institution main .card-user .avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-right: 8px;
}

.container-dashboard-institution  main .card-user .icon-plus{
   position: absolute;
   top: 0px;
   right: 0px;
   margin: 0;
}

.container-dashboard-institution  main .card-user .icon-plus img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 200ms linear;
}

.container-dashboard-institution  main .card-user .icon-plus button{
	background-color:var(--white);
	outline:none;
	border:0
}

.container-dashboard-institution  main .card-user .icon-plus img:hover{
    filter: brightness(90%);
}

.container-dashboard-institution  main .card-user .content{
    display: flex;
    padding: 20px 0;
}

.container-dashboard-institution  main .card-user .content p{
    color: var(--green-terciary);
    margin-left: 8px;
}

.container-dashboard-institution  main .card-user .btn-whatsapp{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-dashboard-institution  main .card-user .btn-whatsapp button{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--green-secondary);
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    transition: all 200ms linear;
}

.container-dashboard-institution  main .card-user .btn-whatsapp button a{
	 color: var(--white);
	 text-decoration:none;
}
.container-dashboard-institution  main .card-user .btn-whatsapp button:hover{
    filter: brightness(95%);
}

.container-dashboard-institution  main .card-user .btn-whatsapp button img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 8px;
    color: var(--white);
}

.container-dashboard-institution  main .card-user .btn-whatsapp button a{
    color: var(--white);
    text-decoration:none;
}

/* Modal */

.modal-overlay{
   position: fixed;
   top: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 2;
   width: 100vw;
   height: 100vh;

   display: none;
   justify-content: center;
   align-items: center;
}

.modal-overlay .modal{
    width: auto;
    height: auto;
    background-color: var(--white);
    border-radius: 7px;
    border: 3px solid var(--green-secondary);
    padding: 16px;
    position:relative
}

.modal-overlay .modal #close{
	position:absolute;
	width:50px;
	height:50px;
	top:-15px;
	right:-15px;
	cursor:pointer;
	border-radius:50%;
	border:0;
	background-color:transparent;
	outline:none
}

.modal-overlay .modal #close img{
	width:100%;
	height:100%;
}


.modal-overlay .modal h1{
    color: var(--green-secondary);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.modal-overlay .modal .items-content{
    display: flex;
    align-items: center;
    padding: 8px;
}

.modal-overlay .modal .items-content img{
    width: 40px;
    height: 40px;
    color: #EBCE34;
}

.modal-overlay .modal .items-content p{
    font-size: 26px;
    font-weight: 500;
    color: var(--green-secondary);
    margin-left: 8px;
}


#visible{
	display:none;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-overlay .modal-alert{
	width:auto;
	height:auto;
	padding:20px;
	background-color:#dcdcdc;
	border-radius:7px;
	z-index:1000
}

.modal-overlay .modal-alert p{
	font-size:24;
	font-weight:700;
	color:var(--green-secondary)
}

.modal-overlay .modal-alert .options{
	display:flex;
	justify-content:center;
	align-items:center
}

.modal-overlay .modal-alert .options button{
	width:50%;
	height:40px;
	border:0;
	border-radius:7px;
	margin:5px;
	margin-top:8px;
	outline:none;
	color:var(--white);
	cursor:pointer;
	transition:all 200ms linear
}

.modal-overlay .modal-alert .options button:hover{
	 filter: brightness(90%);
}

.modal-overlay .modal-alert .options button:nth-child(1){
	background-color: #464746;
}

.modal-overlay .modal-alert .options button:nth-child(2){
	background-color: var(--green-secondary)
}

