@charset "ISO-8859-1";

@import "./global.css";

.container-sucess{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px
}

.container-sucess img{
    width: 70%;
    height: 70%;
}

.container-sucess p{
    color: rgba(91,242,85, 0.7);
    font-size: 50px;
    font-weight: 700;
    margin-top: 8px;
}

.container-sucess .btn-to-login{
	width:100%;
	display:flex;
	justify-content:flex-end;
	align-items:center
}

.container-sucess .btn-to-login a{
	text-decoration:none;
	border-radius:7px;
	padding:10px;
	background-color:var(--green-terciary);
	color:var(--white);
	display:flex;
	align-items:center
	
}


.container-sucess .btn-to-login img{
	width:30px;
	height:30px
}